.container-all {
  height: 100vh;
  width: 200vh;
  background-image: url('https://image.freepik.com/free-photo/empty-shopping-trolley-dark-toned-background-with-some-copy-space_94863-1091.jpg'); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
